/**
* 全局mixins
**/

@mixin flex($display: flex, $direction: row, $content: center, $items: center) {
  display: $display;
  flex-direction: $direction;
  justify-content: $content;
  align-items: $items;
}

@mixin flex-default($display: flex, $direction: row) {
  display: $display;
  flex-direction: $direction;
}

@mixin zoom-animation(
  $direction: 'top',
  $scaleStart: scaleY(0),
  $scaleEnd: scaleY(0),
  $origin: center top
) {
  .zoom-in-#{$direction}-enter {
    opacity: 0;
    transform: $scaleStart;
  }

  .zoom-in-#{$direction}-enter-active {
    opacity: 1;
    transform: $scaleEnd;

    /* prettier-ignore */
    transition:
      transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms,
      opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
    transform-origin: $origin;
  }

  .zoom-in-#{$direction}-exit {
    opacity: 1;
  }

  .zoom-in-#{$direction}-exit-active {
    opacity: 0;
    transform: $scaleStart;

    /* prettier-ignore */
    transition:
      transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms,
      opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
    transform-origin: $origin;
  }
}

@mixin slide-animation(
  $direction: 'left',
  $slideEnterStart: translateX(100%),
  $slideEnterEnd: translateX(0%),
  $slideExitStart: translateX(0%),
  $slideExitEnd: translateX(-100%),
  $origin: center center
) {
  .slide-in-#{$direction}-enter {
    opacity: 0;
    transform: $slideEnterStart;
  }

  .slide-in-#{$direction}-enter-active {
    opacity: 1;
    transform: $slideEnterEnd;

    /* prettier-ignore */
    transition:
      transform 300ms linear 200ms,
      opacity 300ms linear 200ms;
    transform-origin: $origin;
  }

  .slide-in-#{$direction}-exit {
    opacity: 1;
    transform: $slideExitStart;
  }

  .slide-in-#{$direction}-exit-active {
    opacity: 0;
    transform: $slideExitEnd;

    /* prettier-ignore */
    transition:
      transform 300ms,
      opacity 100ms;
    transform-origin: $origin;
  }
}
