.demo-header {
  background-color: rgba($color: #999, $alpha: 0.3);
}

.demo-aside {
  background-color: rgba($color: #999, $alpha: 0.1);
}

.demo-main {
  padding: 24px;
  background-color: #fff;
}

.demo-footer {
  background-color: rgba($color: #999, $alpha: 0.3);
}
