.demo-header {
  background-color: rgba($color: #00f, $alpha: 0.3);
}

.demo-aside {
  background-color: rgba($color: #00f, $alpha: 0.1);
}

.demo-main {
  background-color: rgba($color: #00f, $alpha: 0.2);
}

.demo-footer {
  background-color: rgba($color: #00f, $alpha: 0.3);
}
